Source: jalview
Section: non-free/science
Priority: optional
Maintainer: Vincent Fourmond <fourmond@debian.org>
Build-Depends: cdbs, debhelper (>= 7), default-jdk,
	       ant, ant-optional, libxerces2-java, libxalan2-java,
	       libaxis-java, libwsdl4j-java, libgnujaf-java,
	       libgnumail-java, liblog4j1.2-java, javahelp2,
	       libcommons-discovery-java, libcommons-logging-java,
	       libjmol-java (>= 12.1.42),
	       jmol-applet (>= 12.1.42),
	       libcastor-xml-java, libjaba-client-java, libaxis-java, 
	       javahelper, javahelp2
Standards-Version: 3.9.2
Homepage: http://www.jalview.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-java/trunk/jalview
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-java/trunk/jalview

Package: jalview
Architecture: all
Depends: ${misc:Depends}, openjdk-6-jre | cacao-oj6-jre | java6-runtime,
	 java-wrappers (>= 0.1.22), ${java:Depends}
Suggests: kalign, t-coffee, clustalw
Description: multiple alignment editor
 JalView is a Java alignement editor that can work with sequence
 alignement produced by programs implementing alignment algorithms
 such as clustalw, kalign and t-coffee.
 .
 It has lots of features, and will compare advantageously to BioEdit,
 while being free as in free speech !
