Source: jalview
Section: science
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Vincent Fourmond <fourmond@debian.org>
Build-Depends: ant,
               ant-optional,
               cdbs,
               debhelper (>= 9),
               default-jdk,
               icedtea-netx-common,
               javahelp2,
               javahelper,
               jmol-applet (>= 12.1.42),
               libapache-mime4j-java (>= 0.7.2),
               libaxis-java,
               libcastor-xml-java,
               libcommons-discovery-java,
               libcommons-logging-java,
               libhttpclient-java,
               libhttpcore-java,
               libhttpmime-java,
               libjaba-client-java,
               libjmol-java (>= 12.1.42),
               libjswingreader-java,
               liblog4j1.2-java,
               libmiglayout-java,
               libvamsas-client-java,
               libwsdl4j-java,
               testng,
               varna
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/git/pkg-java/jalview.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-java/jalview.git
Homepage: http://www.jalview.org

Package: jalview
Architecture: all
Depends: default-jre | java6-runtime,
         java-wrappers (>= 0.1.22),
         libjmol-java (>= 12.1.42),
         ${java:Depends},
         ${misc:Depends}
Suggests: clustalw, kalign, t-coffee
Description: multiple alignment editor
 JalView is a Java alignment editor that can work with sequence
 alignment produced by programs implementing alignment algorithms
 such as clustalw, kalign and t-coffee.
 .
 It has lots of features, is actively developed, and will compare
 advantageously to BioEdit, while being free as in free speech !
