[Desktop Entry]
Type=Application
Version=1.1
Name=Jalview
Comment=Multiple alignment editor
Icon=jalview-icon
TryExec=jalview
Exec=jalview %U
Terminal=false
Categories=Science;Biology
Keywords=alignment;sequence
