#!/usr/bin/make -f
# debian/rules for statsvn, based on the one from Batik (uses CDBS)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION = $(shell dpkg-parsechangelog | egrep '^Version' | \
	sed -r 's/Version:\s*//' | sed -r 's/^[0-9]+://' | \
	sed -r 's/(\.dfsg)?-[0-9.]+//')

# export JITC_PROCESSOR_TYPE=6

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk
include /usr/share/cdbs/1/rules/dpatch.mk

JAVA_HOME_DIRS       := /usr/lib/jvm/java-gcj
ANT_HOME             := /usr/share/ant
DEB_ANT_COMPILER     := modern
DEB_ANT_BUILD_TARGET := build makedist
DEB_BUILDDIR         := .
DEB_ANT_BUILDFILE    := build.xml
DEB_ANT_CLEAN_TARGET := clean

DEB_JARS             := $(ANT_HOME)/lib/ant-nodeps.jar xml-api xercesImpl \
	axis saaj gnumail wsdl4j activation

# Additional arguments for ant, such as properties.
ANT_ARGS := -DJALVIEW_VERSION=$(VERSION)

# Some comments here:
# libaxis-java
#  -> saaj.jar
#  -> jaxrpc.jar
# libwsdl4j-java
#  -> wsdl4j.jar
# libgnujaf-java
#  -> activation.jar
# javahelp2:
#  -> jhall.jar

# These are jar provided by the source tarball that should be installed
# along with the program to make it work.
#
# AS LONG AS THIS VARIABLE EXISTS, UPLOAD TO MAIN, AND POSSIBLY TO NON-FREE,
# IS IMPOSSIBLE !
BINARY_JARS = castor-1.1-cycle-xml.jar \
	commons-discovery.jar commons-logging.jar jaxrpc.jar \
	jhall.jar Jmol-11.0.2.jar log4j-1.2.8.jar regex.jar \
	vamsas-client.jar


print-version:
	echo $(VERSION)

install-binary-jars:
	for jar in $(BINARY_JARS); do \
	install -m 644 lib/$$jar debian/jalview/usr/share/java/jalview-$$jar; \
	done

install/jalview:: install-binary-jars
	install -m 644 dist/jalview.jar debian/jalview/usr/share/java/jalview-$(VERSION).jar
	ln -s jalview-$(VERSION).jar debian/jalview/usr/share/java/jalview.jar
	install -m 755 -t debian/jalview/usr/bin debian/wrappers/jalview

clean::
	rm -rf dist

